@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arimo:ital,wght@0,400..700;1,400..700&family=Iceberg&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&family=Sanchez:ital@0;1&family=Tiro+Tamil:ital@0;1&display=swap');

@import "tailwindcss";
@layer base{
  .heading{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .text{
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sidebar{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .sub-text {
    font-family: "Tiro Tamil", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sub-heading {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .date {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .btn-text {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .lable {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}